#heading{
   color: white;
   background: black;
   text-align: center;
}
#rating_form{
   text-align: center;
}
#ramen_details{
   text-align: center;
}
#submit{
   height: 40px;
   width:410px;
   background-color: black;
   color: white;
}
.input{
   width: 400px;
   height: 40px;
}
#head{
   background-color: black;
   text-align: center;
   color: white;
}
#form{
   display: flex;
   justify-content: center;
}